@charset "utf-8";
:root{
/* color variables*/
--clr-primary:#94ceb5;
--clr-primary-hover: #6e02b6;
--clr-gray100: #f0f7f8;
--clr-gray200: #cfd8dc;
/*border radius*/
--radius: 0.2rem;
}
body{
    font-family: "Montserrat", sans-serif;
    background: var(--clr-gray100);
    text-align: center;
}
.nav-list{
    background:white;
    box-shadow:0px 0px 10px var(--clr-gray200);
    margin:0;
    padding: 1rem 0;
    border-radius:var(--radius);
}
.nav-item{
    display: inline;
    list-style: none;
    margin-right: 2rem;
    
}
.nav-item a {
    
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
}
.nav-item a:hover{
    color: var(--clr-primary-hover);
}
header{
    font-family: "Montserrat";
    font-size: xx-large;
    color:#6e02b6;
}
div{
    display: grid;
    grid-template-columns: auto;
}
.my-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
.my-grid-container > div {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background-color: var(--clr-primary-hover);
    display: grid;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: auto;
    color: white;
    
  }
  
.my-grid-container > .myClass:first-child {
      grid-row: 1 / 2 ;
  }

.footer{
   align-items: center;
}
img{
    max-width: 700px;
    max-height: 700px;
}
.gallery{
    display: inline-block;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 5px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid hsl(0, 0%, 20%)
}